[Unit] 
Description=Atlassian Jira
After=network.target

[Service] 
Type=forking
User=jira
PIDFile={{jira_home_dir}}/work/catalina.pid
ExecStart={{jira_home_dir}}/bin/start-jira.sh
ExecStop={{jira_home_dir}}/bin/stop-jira.sh

[Install] 
WantedBy=multi-user.target